# Exclude build and public folders from language stats
/build/** linguist-vendored
/public/** linguist-vendored

# Treat .jsx and .js files as JavaScript
*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript
